
<!------ Include the above in your HEAD tag ---------->

<!DOCTYPE html>
<html>
  <head>
    
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="/css/Login.css">
<!------ Include the above in your HEAD tag ---------->
  </head>
<body id="LoginForm">
<div class="container">
<h1 class="form-heading">WebSols Inicio</h1>
<div class="login-form">
<div class="main-div">
    <div class="panel">
   <h2>Ingreso al sistema</h2>
   <p>Por favor ingrese su correo y contraseña</p>
   </div>
    <form class="form" id="Login">

        <div class="form-group">


            <input type="email" class="form-control" id="inputEmail" placeholder="Correo">

        </div>

        <div class="form-group">

            <input type="password" class="form-control" id="inputPassword" placeholder="Contraseña">

        </div>
        <div class="forgot">

        <a href="reset.html">Olvidó la contraseña?</a>

        <a href="reset.html"></a>

</div>
        <button type="submit" class="btn btn-primary">Login</button>
        <a href="/Views/Registro.html">Registrarse</a>

    </form>
    </div>
<p class="botto-text"> Designed by Sunil Rajput</p>
</div></div></div>

    <script>
        const myForm = document.getElementById('Login');

        Login.addEventListener('submit', function(e) {
          e.preventDefault();

          const formData = new FormData(this);
          const searchParams = new URLSearchParams();
          const email = document.getElementById('inputEmail').value;
          const pass = document.getElementById('inputPassword').value;
          console.log(email);
          console.log(pass);

          fetch  ('https://localhost:44325/api/GetWS_USUARIOLogin/'+ email+","+pass, {
              method: 'POST',
              body: FormData

          }).then(function(response) {
                return response.text();
          }).then(function(text){
              console.log(text.length);

              if(text.length > 2){
                   window.location.href ="http://127.0.0.1:5501/Views/Catalogo.html";
              } else {
                    
                    alert('Usuario o Contraseña Incorrectos');
                    
                   
              }

          }).catch(function(error){
              console.error(error);
          })

        })
      
    </script>


</body>
</html>